﻿#main, body
{
    background:#0455a3;
    }
body
{
    padding:0;
    }
#main
    {
    width:100%;
    height:90%;
	margin:0;
	padding:0;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	text-justify: distribute-all-lines;
	}
.wphead
{
    height:1.4em;
    }
.wphead span.wplabel
{
    background:#1465b3;
    display:inline-block;
    float:left;
    height:100%;
    width:54%;
    padding-left:4%;
    padding-right:4%;
    }
.wphead span.wprpic
{
    /* background set by jquery*/
    text-align:right;
    display:inline-block;
    float:right;
    height:100%;
    width:30%;
    padding-left:4%;
    padding-right:4%;
    }
.washcontainer
{
	width:24.5%;
	text-align: left;
	-ms-text-justify: left;
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
    }       
.washpadContainerList * 
{
    font-size:18px !important;
    }
    
.washpadContainerList
{
    margin-top:-2px;
    }

.washpadContainerList img
{
    font-size:100% !important;
    height:1em !important;
    width:1em !important;
    }
.containerid
{
    display:inline-block;
    }
.container
{
    background:#1465b3;
    margin-top:2px;
    clear:both;
    }
                
/* ----------------------- Activity Stats Table ----------------------------*/
#ActivityStats
    {
        position:absolute;
        bottom:10px;
        right:0;
        width:49.8%;
        }
#ActivityStatsData
    {
        width:100%;
        }
#ActivityStatsData tr td.shiftSummary
    {
        font-size:40px !important;
        }
    #ActivityStatsData td,#ActivityStatsData  th
    {
        margin:1px;
        padding:.2em;
        text-align:center;
        font-size:18pt !important;
        }   
#ActivityStatsData td
    {
        background:#1465b3;
        }   
#ActivityStatsData th
    {
        background:#2475c3;
        }   
#ActivityStatsData tr.separator td, #ActivityStatsData tr.separator th
    {
        border-top:10px #0455a3 solid;
        }   
             
#ActivityStatsData td.blank
{
    background: #0455a3;
    }  
                
                


/* -------------- PAD PROGRESS SUMMARY STATUS TILES --------------- */
.padSummaryTile *
{
    font-family:Rockwell !important;
    }
.progressBarLabel span b
{
    font-weight:900;
    }
.padHeading
{
    display:inline-block;
    width:50%;
    }
.padStatus
{
    display:inline-block;
    width:50%;
    text-align:right;
    }
.padHeading span, .padStatus span
{
    display:inline-block;
    padding:10px;
    font-size:30px !important;
    font-weight:400;
    margin:0;
    border-bottom:2px #0455a3 solid;
    }
    
.progressBarContainer
{
    width:100%;
    height:1.5em;
    position: relative;
    background:#1465b3;
    border-bottom:2px #0455a3 solid;
    }
    
.progressBarLabel
{
     width:100%;
     height:1.5em;
     background:none;
     position: absolute;
     top: 0;
     left: 0;
     z-index:10;
    }
    
.progressBarLabel span
{
    display:inline-block;
    margin:12px 0 0 15px;
    font-size:23px !important;
    }
    
.progressBarVisual
 {
     width:100%;
     height:1.5em;
     background:none;
     position: absolute;
     top: 0;
     left: 0;
     z-index:1;
     }
     
.progressBarDone
{
    height:1.5em;
    background:#4f8cc6;
    margin:0;
    display:inline-block;
    }
    
.progressBarTodo
{
    height:1.5em;
    background:#1465b3;
    margin:0;
    display:inline-block;
    }